<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.pro.mapper.dept.DeptMapper">

    <resultMap id="BaseResultMap" type="com.backend.pro.model.entity.system.dept.Dept">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="deptName" column="deptName" jdbcType="VARCHAR"/>
            <result property="parentId" column="parentId" jdbcType="BIGINT"/>
            <result property="deptDesc" column="deptDesc" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,deptName,parentId,
        deptDesc,status,userId,
        createTime,updateTime,isDelete
    </sql>
</mapper>
