<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.backend.pro.mapper.appts.DrugMapper">

    <resultMap id="BaseResultMap" type="com.backend.pro.model.entity.appts.Drug">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="detailsId" column="detailsId" jdbcType="BIGINT"/>
            <result property="registerId" column="registerId" jdbcType="VARCHAR"/>
            <result property="irNos" column="irNos" jdbcType="VARCHAR"/>
            <result property="drugTime" column="drugTime" jdbcType="VARCHAR"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,detailsId,registerId,
        irNos,drugTime,userId,
        createTime,updateTime,isDelete
    </sql>
</mapper>
